.container {
    padding: 20px;
    max-width: 800px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    gap: 3rem;
}

.candidatoItem {
    background: #f9f9f9;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.candidatoItem h2 {
    margin: 0;
    font-size: 1.2rem;
}

.candidatoItem p {
    margin: 10px 0;
}

.buttonGroup {
    display: flex;
    gap: 10px;
}

.button {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
}

.button.edit {
    background-color: #007bff;
}

.button.view {
    background-color: #28a745;
}

.buttonDefault {
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px 10px; 
    width: auto; 
    max-width: 100px; 
    text-align: center;
}

.button.delete {
    background-color: red;
}

ul{
    list-style: none;
}